@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

html {
  background-color: #f5f3ef;
}

body,p {
  font-family: var(--font-roboto), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat), sans-serif;
}

span {
  font-family: var(--font-lora), sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
